/* JFShea.com Styles
1-11-07 - Dan Schafer - Initial Creation

*/

body {
background-color: #00245D; 
font-family: Verdana, Arial; 
font-size: 11px; 
font-weight: normal; 
color: #000000;
background-image: url('../images/bg_body.gif');
background-repeat:repeat-x;
}

/* 
TEXT
*/
.copy {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-style: normal; line-height: 15px; font-weight: normal; color: #333333; text-align:justify}
.boldcopy {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-style: normal; line-height: 12px; font-weight: bold; color: #333333;}
.italiccopy {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-style: italic; line-height: 12px; font-weight: normal; color: #333333;}
.welcome {font-family: Verdana, Arial, Helvetica; font-size: 10px; font-style: normal; font-weight: normal; color: #ffffff;}
.nav_left_subheading_white {font-family: Verdana, Arial, Helvetica; font-size: 10px; font-style: normal; font-weight: normal; color: #ffffff;}
.breadcrumb {font-family: Verdana, Arial, Helvetica; font-size: 10px; font-style: normal; font-weight: normal; color: #5993BB;}
.module_title {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-style: normal; font-weight: bold; color: #5893BB;}
.my_favorites {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-style: normal; font-weight: bold; color: #E5AB74;}
.error_copy {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-style: normal; line-height: 12px; font-weight: bold; color: #E5AB74;}

/*
FOOTER
5F709E
*/
#footer {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-style: normal; font-weight: normal; color: #A7B0C9;}
#footer a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #A7B0C9; text-decoration: none;}
#footer a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #A7B0C9; text-decoration: none;}
#footer a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #A7B0C9; text-decoration: none;}
#footer a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #A7B0C9; text-decoration: none;}

/*
TOP NAVIGATION
*/
#top_navigation{
background-color:#000000;
color:#FFFFFF;
}
#top_navigation a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: none;}
#top_navigation a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: none;}
#top_navigation a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: none;}
#top_navigation a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: none;}

/*
MAIN CONTENT
*/

#main_content td{
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #675F52;
text-align:justify;
}

#main_content td.headline{
font-family: Arial, Helvetica; 
font-size: 14px; 
font-style: normal; 
font-weight: bold;
color: #675F52;
text-align:justify;
}

#main_content td.list{
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
text-align:justify;
}

#main_content .title{
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: bold;
color: #3D5593;
text-align:left;
}

#main_content .news_headline{
font-family: Verdana, Arial, Helvetica; 
font-size: 10px; 
font-style: normal; 
font-weight: bold;
color: #675F52;
text-align:center;
line-height:12px;
}


#main_content td a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#main_content td a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#main_content td a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#main_content td a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}


#featured_article td a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#featured_article td a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#featured_article td a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#featured_article td a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}

/*
NEWS
*/
#news td{
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #675F52;
text-align:left;
}

#news td a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#news td a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#news td a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#news td a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}



/*
LATEST NEWS - HOMEPAGE
*/
#latest_news{
background-color:#FFFFFF;
border-style: solid; 
border-color: #F2F3EE; 
border-width: 1px; 
padding:5px;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #979797;
}

#latest_news td{
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #979797;
}

#latest_news td a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #979797; text-decoration: none;}
#latest_news td a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #979797; text-decoration: none;}
#latest_news td a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #979797; text-decoration: none;}
#latest_news td a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #979797; text-decoration: underline;}



.news_image {
border-style: solid; 
border-color: #CBC5AB; 
border-width: 7px;
margin-bottom:5px;
}


/*
PAGE HEADING
*/

#page_heading{
font-family: Times, Verdana, Arial, Helvetica; 
font-size: 17px; 
font-style: normal; 
font-weight: normal;
color: #FFFFFF;
text-align:left;
background-color:#CBC5AB;
text-indent:15px;
}


/*
CONTACT FORM
*/

#contact_form td {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #3F4A80;
line-height:15px;
}

#contact_form select {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
width:225px;
}


#contact_form input.form_field {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
border-style: solid; 
border-color: #3F4A80; 
border-width: 1px;
width:225px;
}

#contact_form textarea.form_field {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
border-style: solid; 
border-color: #3F4A80; 
border-width: 1px;
width:225px;
}

#contact_form td {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #675F52;
}

#contact_form td.label {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #675F52;
}

/*
REGISTER
*/
#register{
background-color:#FFFFFF;
}

#register select {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
width:75px;
}

#register select.medium {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
width:125px;
}

#register select.short {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
width:75px;
}

#register .note {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
font-style:italic;
color: #666666;
}

#register select.long {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
width:285px;
}

#register input.form_field {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
border-style: solid; 
border-color: #3D5593; 
border-width: 1px;
width:285px;
}

#register input.form_field_medium {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
border-style: solid; 
border-color: #3D5593; 
border-width: 1px;
width:125px;
}

#register input.form_field_short {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
border-style: solid; 
border-color: #3D5593; 
border-width: 1px;
width:75px;
}

#register td {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
}

#register td.label {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #3D5593;
}

#register td.message {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: bold;
color: #000000;
}


#popup_header td {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #FFFFFF;
}

#popup_header td a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: underline;}
#popup_header td a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: underline;}
#popup_header td a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: underline;}
#popup_header td a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: underline;}





/*
CREATE PROFILE
*/
#create_profile{
background-color:#FFFFFF;
border-style: solid; 
border-color: #EBEEF6; 
border-width: 7px;
}

#create_profile select {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
width:110px;
}

#create_profile select.normal {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
width:240px;
}

#create_profile select.normal_hide {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
width:240px;
display:none;
}

#create_profile input {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
}

#create_profile input.form_field {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
border-style: solid; 
border-color: #3D5593; 
border-width: 1px;
width:240px;
}

#create_profile input.form_field_hide {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
border-style: solid; 
border-color: #3D5593; 
border-width: 1px;
width:240px;
display:none;
}

#create_profile input.form_field_short {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
border-style: solid; 
border-color: #3D5593; 
border-width: 1px;
width:110px;
}

#create_profile td {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #3D5593;
line-height:13px;
}

#create_profile td a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#create_profile td a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#create_profile td a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#create_profile td a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}


#create_profile td.intro {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
line-height:13px;
text-align:justify;
}

#create_profile td.other {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
line-height:13px;
}

#create_profile td.homeowner_hilite {
padding-left:3px;
background-color:#DDE2F0;
}

#create_profile td.homeowner_hilite_black {
padding-left:3px;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
background-color:#DDE2F0;
}

/*
APPLIED JOBS
*/
#applied_jobs thead{
background-color:#8D6E26;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal;
font-weight: normal;
color: #FFFFFF;
height:25px;
}

#applied_jobs thead td{
background-color:#8D6E26;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal;
font-weight: normal;
color: #FFFFFF;
}

#applied_jobs tbody{
background-color:#FFFFFF;
}

#applied_jobs tbody td{
background-color:#FFFFFF;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal;
font-weight: normal;
color: #000000;
text-align:left;
}

#applied_jobs tbody td.noresults{
background-color:#FFFFFF;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal;
font-weight: bold;
color: #000000;
text-align:center;
height:150px;
}

#applied_jobs tbody a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#applied_jobs tbody a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#applied_jobs tbody a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#applied_jobs tbody a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}


/*
SEARCH RESULTS
*/
#search_results{
background-color:#FFFFFF;
}

#search_results thead{
background-color:#8D6E26;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal;
font-weight: normal;
color: #FFFFFF;
height:25px;
}

#search_results thead td{
background-color:#8D6E26;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal;
font-weight: normal;
color: #FFFFFF;
}

#search_results tbody{
background-color:#FFFFFF;
}

#search_results tbody td{
background-color:#FFFFFF;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal;
font-weight: normal;
color: #000000;
text-align:left;
}

#search_results tbody td.noresults{
background-color:#FFFFFF;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal;
font-weight: bold;
color: #000000;
text-align:center;
height:150px;
}

#search_results tbody a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#search_results tbody a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#search_results tbody a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#search_results tbody a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}


#search_results tbody tr.color1{
background-color:#FFFFFF;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal;
font-weight: normal;
color: #000000; 
height:35px;
}

#search_results tbody tr.color2{
background-color:#EBEEF6;
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal;
font-weight: normal;
color: #000000; 
height:35px;
}

#search_results tfoot{
background-color:#999999;
height:15px;
}

#search_results tfoot td{
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal;
font-weight: normal;
color: #FFFFFF;
}

#search_results tfoot a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: underline;}
#search_results tfoot a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: underline;}
#search_results tfoot a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: underline;}
#search_results tfoot a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #FFFFFF; text-decoration: underline;}


/* NAVIGATION
--image locations are relative to CSS file location
*/
.noback {background-image: url('');}


/* 
LINKS
*/
.print_page a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #8291B9; text-decoration: underline;}
.print_page a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #8291B9; text-decoration: underline;}
.print_page a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #8291B9; text-decoration: underline;}
.print_page a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #8291B9; text-decoration: underline;}

.nav_left_subheading a:link {font-family: Verdana, Arial, Helvetica; font-size: 10px; font-weight: normal; color: #7D7D7D; text-decoration: none; padding-top:2px; padding-right:2px; padding-bottom:2px; padding-left:2px;}
.nav_left_subheading a:hover {font-family: Verdana, Arial, Helvetica; font-size: 10px; font-weight: normal; color: #FFFFFF; text-decoration: none; background-color:#E5AB74; padding-top:2px; padding-right:2px; padding-bottom:2px; padding-left:2px;}
.nav_left_subheading a:active {font-family: Verdana, Arial, Helvetica; font-size: 10px; font-weight: normal; color: #7D7D7D; text-decoration: none; padding-top:2px; padding-right:2px; padding-bottom:2px; padding-left:2px;}
.nav_left_subheading a:visited {font-family: Verdana, Arial, Helvetica; font-size: 10px; font-weight: normal; color: #7D7D7D; text-decoration: none; padding-top:2px; padding-right:2px; padding-bottom:2px; padding-left:2px;}

/* 
PALETTE COLORS
*/
.bg_dk_blue {background-color: #273465;}
.bg_nav_left_blue1 {background-color: #86B9DD;}
.bg_nav_left_blue2 {background-color: #B8D1E5;}
.bg_nav_left_blue3 {background-color: #A9CAE3;}
.bg_nav_left_blue4 {background-color: #AABBD1;}
.bg_nav_left_blue5 {background-color: #7D95BF;}
.bg_nav_orange {background-color: #E5AB74;}
.bg_nav_gray1 {background-color: #7D7D7D;}
.bg_nav_gray2 {background-color: #ECECF8;}
.bg_nav_gray3 {background-color: #D9E1EB;}

.bg_forms_blue1 {background-color: #8A99B8;}
.bg_forms_blue2 {background-color: #98BAD7;}
.bg_forms_blue3 {background-color: #C4CCDA;}
.bg_forms_blue4 {background-color: #8391AA;} /* forms main background*/
.bg_forms_blue5 {background-color: #5993BB;} 
.bg_forms_blue6 {background-color: #6A97B7;} 
.bg_forms_gray {background-color: #E89F77;}
.bg_forms_gray2 {background-color: #707070;}
.bg_forms_gray3 {background-color: #E1E5EC;}
.bg_forms_orange {background-color: #E5AB74;}

.bg_white { background-color: #ffffff; background-image:none;}
.bg_brown { background-color: #CBC5AB; background-image:none;}
.bg_black { background-color: #000000; background-image:none;}
.bg_gray { background-color: #999999; background-image:none;}