/* JFShea.com Styles  - Privacy
1-17-07 - Dan Schafer - Initial Creation

*/

body {
background-color: #000000; 
font-family: Verdana, Arial; 
font-size: 11px; 
font-weight: normal; 
color: #000000;
}

#privacy_header td{
font-family: Arial, Helvetica; 
font-size: 12px; 
font-style: normal; 
font-weight: bold;
color: #FFFFFF;
background-color:#000000;
}

#privacy_footer td{
font-family: Arial, Helvetica; 
font-size: 12px; 
font-style: normal; 
font-weight: bold;
color: #FFFFFF;
background-color:#000000;
}

#privacy_leftnav td{
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #415286;
line-height:15px;
}

#privacy_leftnav td.highlighted{
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #3F4A80;
line-height:15px;
background-color:#E5E3D7;
}

#privacy_leftnav td a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #415286; text-decoration: none;}
#privacy_leftnav td a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #415286; text-decoration: none;}
#privacy_leftnav td a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #415286; text-decoration: none;}
#privacy_leftnav td a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #415286; text-decoration: none;}


#privacy_policy td {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
line-height:15px;
background-color:#FFFFFF;
}

#privacy_policy .title {
font-family: Arial, Helvetica; 
font-size: 15px; 
font-style: normal; 
font-weight: bold;
color: #3F4A80;
}

#content {
font-family: Verdana, Arial, Helvetica; 
font-size: 11px; 
font-style: normal; 
font-weight: normal;
color: #000000;
line-height:15px;
background-color:#FFFFFF;
height:350px;
overflow:auto;
}

#privacy_policy td a:link {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#privacy_policy td a:hover {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#privacy_policy td a:active {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}
#privacy_policy td a:visited {font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: #3D5593; text-decoration: underline;}

.bg_blue { background-color: #3F4A80; background-image:none;}
.bg_brown { background-color: #E6E1C4; background-image:none;}
.bg_white { background-color: #FFFFFF; background-image:none;}

