<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <remove name="Shea" />
                <rewriteMap name="Shea">
					<add key="/the-shea-story" value="/the_shea_story.php" />
                    <add key="/our-companies-shea-homes" value="/shea_homes.php" />
                    <add key="/careers" value="/career.php" />
                    <add key="/recent-news" value="/news_recent.php" />
                    <add key="/contact-us" value="/contact_us.php" />					
                    <add key="/shea-timeline" value="/timeline.php" />
                    <add key="/our-companies-shea-properties" value="/shea_properties.php" />
                    <add key="/our-companies-venture-captial" value="/venture_capital.php" />
                    <add key="/our-companies-jf-shea-construction" value="/shea_construction.php" />
                    <add key="/our-companies-redding" value="/redding.php" />
                    <add key="/our-companies-reed-manufacturing" value="/shea_reed_manufacturing.php" />
                    <add key="/our-companies-shea-mortgage" value="/shea_mortgage.php" />
                    <add key="/our-companies-blue-star" value="/blue_star.php" />
                    <add key="/our-companies-jf-shea-construction-offices" value="/shea_construction_offices.php" />
                    <add key="/our-companies-jf-shea-construction-capabilities" value="/shea_construction_capabilities.php" />
                    <add key="/our-companies-jf-shea-construction-jobs" value="/shea_construction_jobs.php" />
                    <add key="/our-companies-jf-shea-construction-engineering" value="/shea_construction_engineering.php" />
                    <add key="/" value="/index.php" />
                    <add key="/news-latest" value="/news_latest.php" />
                    <add key="/archive-news" value="/news_archive.php" />
				</rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Rewrite rule2 for Shea" stopProcessing="false">
                    <match url=".*" />
                    <conditions>
                        <add input="{Shea:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Rewrite rule3 for Shea">
                    <match url=".*" />
                    <conditions>
                        <add input="{Shea:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Rewrite rule4 for Shea">
                    <match url=".*" />
                    <conditions>
                        <add input="{Shea:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Rewrite rule5 for Shea">
                    <match url=".*" />
                    <conditions>
                        <add input="{Shea:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
